body {
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.type-selection {
	display: flex;
}

.type-selection__icon {
	font-size: 24px;
	padding: 0 16px 0 8px;
	cursor: pointer;
}

.selection {
	height: 100%;
}

.minisize {
	cursor: pointer;
}

.card-library {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
}

.select-type {
	border-radius: 0;
}
.select-type:focus {
	box-shadow: none;
}

/*Item - File*/

.file-item, .folder-item {
	flex-direction: row;
}
.file-item:hover, .folder-item:hover {
	background-color: rgba(0, 0, 0, 0.07);
}

.selector {
	display: flex;
	flex: 6;
}

.file-type {
	flex: 1;
	cursor: pointer;
}

.file-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex: 5;
	padding: 0 7px;
	cursor: pointer;
}

.file-info__name {
	margin: 0;
	font-size: 14px;
	line-height: 1;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
}

.file-info__time {
	font-size: 10px;
	margin: 0;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
}

.file-info__type {
	font-size: 11px;
	margin: 0;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
}

.file-info__extends {
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: row;
}

.file-share {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	position: relative;
}

.file-share .option-btn {
	font-size: 18px;
	display: none;
	cursor: pointer;
	z-index: 5;
}

.file-item:hover .option-btn {
	display: block;
}

.list-file-column {
	overflow-y: auto;
	height: calc(100vh - 133px);
}

.showSidebar {
	animation: showSidebar 1s ease;
}

.hideSidebar {
	width: 0%;
	animation: hideSidebar 1s ease;
}

.extendPreviewDocs {
	width: 100%;
	animation: extendPreviewDocs 1s ease;
}

.minisizePreviewDocs {
	width: 75%;
	animation: minisizePreviewDocs 1s ease;
}

@keyframes showBtn {
	from {
		opacity: 0.5;
	} to {
		opacity: 1;
	}
}

@keyframes hideSidebar {
	from {
		width: 25%;
	} to {
		width: 0%;
	}
}

@keyframes extendPreviewDocs {
	from {
		width: 75%;
	} to {
		width: 100%;
	}
}

@keyframes minisizePreviewDocs {
	from {
		width: 100%;
	} to {
		width: 75%;
	}
}

@keyframes showSidebar {
	from {
		width: 0%;
	} to {
		width: 25%;
	}
}

/*Phần modal*/

.modal-library {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	flex-direction: column;
}

.create-new-type {
	width: 500px;
	margin: auto;
	transform: translate(-25px,-27.5px);
}

.add-modal,
.error-modal,
.confirm-modal,
.rename-modal,
.share-modal {
	width: 400px;
	margin: auto;
	transform: translate(-25px,-27.5px);
}
.share-modal {
	width: 600px;
}

.cancel-icon {
	font-size: 22px;
	line-height: 22px;
	cursor: pointer;
}

/*Bật modal*/
.option {
	height: 40px;
}

/*Back-btn*/
.back-btn {
	line-height: 30px;
	cursor: pointer;
}

.back-btn i {
	font-size: 20px;
}

.upload-input {
	padding: 0 100px;
}

/*Option dialog*/
.option-dialog {
	box-shadow: 0px 1px 1px 3px #ccc;
	background-color: #fff;
	position: absolute;
	margin-right: 110px;
	border-radius: 5px;
	z-index: 5;
}

.option-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.option-list__item {
	display: flex;
    white-space: nowrap;
    padding: 3px;
    cursor: pointer;
}
.option-list__item:hover {
	background-color: #ccc6;
}

.option-text {
	padding: 0 5px;
	margin: 0;
}

.cover-page {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
}

/*Confirm modal*/
.create-form {
	margin-top: 10px;
}

.confirm-modal__form {
	display: flex;
	flex-direction: column;
}

/*Toast*/
.toast-header {
	border-radius: 4px;
}

.toast-icon {
	font-size: 24px;
}

.toast-notifi {
	font-size: 16px;
	margin-bottom: 3px;
}

.bg-uploadSuccess {
	background-color: #28a745;
}

/*Share part*/
.share-option-description {
	opacity: 0.8;
}

.public-link {
	background-color: #e6f4ea !important;
	color: #1e8e3e !important;
}

.linkShare {
	text-overflow: ellipsis;
}

/*Phần chọn người để chia sẻ*/
.list-select-friend {
	box-shadow: 4px 3px 9px 2px #ccc;
	position: fixed;
	width: 94.7%;
	z-index: 300;
	max-height: 206px;
	overflow: auto;
}

.friend-select::-webkit-input-placeholder { text-align:right; }
.friend-select:-moz-placeholder { text-align:right; }
.friend-select::placeholder { text-align:right; }

.select-section {
	position: relative;
}

.friend-added {
	position: absolute;
    left: 6px;
    top: 9px;
	display: flex;
	overflow: auto;
	max-width: 86%;
	border-radius: 6px;
}

.badge-friend-name {
	margin-right: 3px;
}

.btn-remove-friend-added {
	font-size: 8.4px;
	margin-top: 1px;
	margin-left: 3px;
}

.item-list {
	flex: 1
}

#uploadFileModal>.modal-dialog {
	max-width: 80% !important;
}

/* File upload */
.note {
	width: 500px;
	margin: 50px auto;
	font-size: 1.1em;
	color: #333;
	text-align: justify;
}
#drop-area {
	border: 2px dashed #ccc;
	border-radius: 20px;
	padding: 20px;
}
#drop-area.highlight {
	border-color: purple;
}
.my-form {
	margin-bottom: 10px;
}
#gallery {
	margin-top: 10px;
	display: block ruby;
	overflow-y: auto;
	padding-top: 15px;
}
#gallery img {
	vertical-align: middle;
}
.button {
	display: inline-block;
	padding: 10px;
	background: #ccc;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.button:hover {
	background: #ddd;
}
#fileElem {
	display: none;
}

.doc-file,
.doc-file-uploading {
	position: relative;
	width: 150px;
	height: 150px;
	display: flex;
	flex-direction: column-reverse;
	border: 2px solid #ccc;
	border-radius: 10px;
	margin: 5px;
}

.doc-file-uploading {
	opacity: 0.5;
}

.doc-file>img,
.file-info-upload {
	position: absolute;
}
  
.doc-file>img {
	margin: 0 !important;	
	width: 100%;
	height: 100%;
}

.file-info-upload {
	width: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.3);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;	
}

.file-name-upload {
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	margin: 18.72px 0;
	font-size: 20px;
}

.remove-file-uploaded-btn {
	position: absolute;
	top: -18px;
	right: -11px;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	z-index: 1;
	cursor: pointer;
}

.bi-x {
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	background: white;
	border: 2px solid #6a6a6a;
	border-radius: 50%;
}

.bi-x::before {
	height: 30px;
	width: 27.5px;
}