* {
	scrollbar-color: grey lightgrey;
	scrollbar-width: thin;
}

.wrapper {
	width: 100%;
	display: flex;
}

.wrapper-in {
	width: calc(100% - 50px);
	background-color: #eee;
	margin-left: 50px;
	min-height: 100vh;
	display: flex;
}

.wrapper-on {
	width: 100%;
	min-height: calc(100vh - 55px);
	margin-top: 55px;
	display: flex;
	position: relative;
	z-index: 200;
}
::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 3px;
}
::-webkit-scrollbar {
	width: 4px;
	background-color: lightgrey;
}