.sidebar {
	/*position: fixed;*/
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	background-color: #1e1f26e6;
	width: 50px;
}

.sidebar-items {
	list-style: none;
	padding: 0;
}

.item__icon {
	font-size: 28px;
	color: white;
	display: flex;
	margin: auto;
}

.item {
	display: flex;
	margin: 8px 0;
	padding: 8px 0;
	border-radius: 0 12px 12px 0;
}
.item:hover {
	background-color: #3f474f;
}

.item-link {
	margin: auto;
	text-decoration: none;
}

.bar {
	color: #ccc;
	margin: 0;
}

.selected {
	background-color: #000;
	border-radius: 0 12px 12px 0;
	box-shadow: 0px 0px 8px 0px #8392a6;
}